
<div [ngClass]="{ 'bg-incomplete': team.length < 5, 'bg-complete': team.length === 5 }" id="team-manager-container">
    <h2 class="display-4">Basket Team Manager</h2>
    <p>L'equipe : ( {{ ( team.length < 5 ? team.length + " / 5" : "COMPLETE" ) }} ) </p>    

    <div id="players-container" class="container">
        <app-player-info 
            [player]="player" 
            [index]="index" 
            *ngFor="let player of team; let index = index"
        >
        </app-player-info>
    </div>
 
</div>